.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;

  border: none;
  cursor: pointer;

  transition: background-color $trans-default, color $trans-default, border $trans-default;

  &--blue {
    color: $color-default-white;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid $color-default-white;
    background-color: $color-summer-sky-3;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-summer-sky-3;
        border-color: $color-summer-sky-3;
        background-color: $color-default-white;
      }
    }
  }

  &--white {
    color: $color-black-russian;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid $color-dolphin;
    background-color: $color-default-white;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-default-white;
        border-color: $color-default-white;
        background-color: $color-black-russian;
      }
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover),
  screen and (min-width: 0\0) {

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
